
*
{
  font-family: calibri;
}
.fii
{
  background:#0033cc;
}
.fii li
{
  display: inline-block;
  color: black;
  padding-left: 20px;
}
.fii li a
{
  color:white;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}
.fii li a:hover
{
  color: black;
  transition: 0.2s;
}
.sii
{
  background: #dcdcdc;
  width: auto;
  height: 90px;
}
.sii .nav
{
  float: right;
  margin-top: -90px;
}
.sii .nav li
{
  display: inline-block;
  color: black;
  padding: 20px 10px;
  margin-right: 40px;
  font-size: 20px;
  font-weight: bold;
}
.sii .nav li a
{
color:black;
text-decoration: none;
}
.sii .nav li a:hover
{
  color: #0033cc;
  transition: 0.2s;
}
.sii .logo img
{
 width: 200px;
 height: 80px;
}

.ab 
{
	padding: 40px 40px;
}
.ab h1
{
	color: #0033cc;
	font-weight: bold;
	word-spacing: 3px;
}
.ab h2
{
	font-weight:bold;
}
.ab h3
{
	font-weight: unset;
}
footer
{
	text-align: center;
	font-size: 16px;
	background: #0033cc;

}
.login
{
	background:url(images/login.jpg);
    height: 100px;
    background-size: cover;
}
.login h1
{
	padding-left: 40px;
	padding-top: 20px;
	font-weight: bold;
	text-decoration: underline;
	color: white;
}
