*
{
  font-family: calibri;
}
body
{
	background: #dcdcdc;
}
table
{
	width: 100%;
	padding: 40px 40px;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
  font-weight: normal;
}
h1
{
	font-weight: bold;
	text-align: center;
	text-decoration: underline;
	margin-bottom: 10px;
}